
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* container stylesheet */
.container {
	max-width: 800px;
	margin: 4% auto;
	overflow: hidden;
}





/* container inner stylesheet */

.content-wrapper {
	border: #006680 2px solid;
	width: 98.9%;
	overflow: hidden;
	height: 600px;
}

.monthDiv .left {
	BACKGROUND-COLOR: #006680;
	overflow: hidden;
}

.monthDiv .left H1 {
	FONT-SIZE: 26px;
	float: left;
	FONT-FAMILY: monospace;
	COLOR: white;
	padding: 4%;
	MARGIN: 0px;
}

.monthDiv .left .resource {
	BORDER-TOP: orange 2px dashed;
	BORDER-RIGHT: orange 2px dashed;
	display: inline-block;
	float: right;
	padding: 1% 3%;
	BORDER-BOTTOM: orange 2px dashed;
	MIN-HEIGHT: 20px;
	BORDER-LEFT: orange 2px dashed;
	MARGIN: 3%;;
	transition: all .5s ease
}

.monthDiv .left .resource p {
	margin: 0;
	color: white;
	transition: all .5s ease
}

.monthDiv .left .resource:hover {
	BACKGROUND-COLOR: #2eb8b8;
	BORDEr: #2eb8b8 2px solid;
}

.monthDiv .left A {
	TEXT-DECORATION: none !important
}





.monthDiv .right {
	PADDING-BOTTOM: 2%;
	height: 100%;
}

.monthDiv .right P {
	PADDING-BOTTOM: 1%;
	PADDING-TOP: 0%;
	PADDING-LEFT: 2%;
	MARGIN: 0px;
	PADDING-RIGHT: 2%
}

.monthDiv .right H3 {
	PADDING-BOTTOM: 2%;
	PADDING-TOP: 2%;
	PADDING-LEFT: 2%;
	MARGIN: 0px;
	PADDING-RIGHT: 1%;
	font-size: 15px;
}






/* Next Prev buttons */ 


.container .event-handlers {
	background-color: #333;
	overflow: hidden;
	width: 99.5%;
}


.container .prev {
	margin-left: 2%;
}

.container .next {
	margin-right: 2%;
}


.button {
	background-color: #248f8f;
	margin: 1%;
	width: 60px;
	padding: 1%;
	text-align: center;
	cursor: pointer;
	float: left;
}

.button:hover {
	background-color: #196666;
}

.button p {
	color: #fff !important;
	padding: 8% 0;
	margin: 0;
}





/* Months buttons */ 

.event-handlers {
	text-align: center;
}

.months {
	overflow: hidden;
	margin: .5%;
	padding-left: 3%;
	border-left: 5px solid #fff;
}

.months>div {
	margin: auto;
}

.btn-wrapper {
	float: none;
	overflow: hidden;
	margin-top: 1%;
}

.month {
	width: 40px;
	border-radius: 25px;
	margin: 1%;
	background-color: #ffcc99;
	float: left;
	overflow: hidden;
	padding: 2% 0;
	text-align: center;
	cursor: pointer;
}

.month:hover{
	background: #ff751a !important;
	color: #fff !important;
}






/* responsive */ 

@media (min-width: 1px) and (max-width: 600px) {
	.slide {
		max-height: 100%;
		width: auto;
		min-width: 99%;
	}
	.monthDiv .left {
		width: auto;
		float: none;
		padding: 2%;
		margin-right: 0;
	}
	.monthDiv .left h1 {
		padding: 1%;
	}
	.monthDiv .right {
		width: auto;
		float: none;
	}
}
